* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #add8e6;
}

#bar-wrapper {
    min-height: 80px;
}

#bar {
    min-height: 45px;
    background-color: #daa520;
    justify-content: space-between;
}

#bar > div, nav {
    border: 2px dashed black;
    padding: 0.5rem;
}

#logo {
    justify-content: flex-start;
    align-items: center;
    width: 240px;
}

#blue-box {
    min-height: 500px;
    background-color: #00008b;
}

#pink-box {
    width: 905px;
    min-height: 400px;
    margin: 3rem auto;
    border: 2px dashed black;
}


nav {
    justify-content: center;
    align-items: center;
    width: 720px;

}

nav > a {
    padding: 0.2rem;
}

#login {
    justify-content: flex-end;
    align-items: center;
    width: 240px;
}

.boxed {
    max-width: 1200px;
    margin: auto;
}

.flex-container {
    display: flex;
}

.pink {
    background-color: #ee82ee;
}

main > div {
    min-height: 600px;
    padding: 3rem;
}

main > div:nth-child(even) {
    background-color: #d3d3d3;
}

main > div:nth-child(odd) {
    background-color: #fff;
}

.main-box {
    border: 2px dashed black;
    min-height: 552px;
}

#reverse {
    flex-direction: row-reverse;
}

.main-box .big-col {
    background-color: #1e90ff;
    border: 2px dashed black;
    width: 724px;
}

.small-col {
    background-color: #ffc0cb;
    border: 2px dashed black;
    width: 476px;
}

#green-box {
    min-height: 900px;
    background-color: #228b22;
}

footer {
    background-color: #23272a;
}

#footer-module-1 {
    
    border-bottom: 1px solid white;
}

.footer-box {
    min-height: 580px;
    padding: 0.6rem 0 3rem 0;
}

#footer-module-1 .small-col {
    background-color: #f08080;
    width: 360px;
}

#footer-module-1 .big-col {
    background-color: #20b2aa;
    width: 840px;
}

.mini-col {
    width: 25%;
    height: 100%;
    border: 2px dashed white;
}

#footer-module-2 {
    padding: 2rem 0 0 0;
}

#footer-container {
    background-color: #7fffd4;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
}


#footer-container div {
    border: 2px dashed black;
    padding: 0.2rem 0.4rem;
    background-color: #ffb6c1;
}
#footer-logo-wrapper {
}

#footer-button-wrapper > button {
    all: unset;
    cursor: pointer;
}